h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

.div-p {
<<<<<<< HEAD
  background-color: rgb(130, 173, 238);
=======
  background-color: rgb(9, 24, 236);
>>>>>>> staging
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-p p {
  font-size: 3rem;
  font-weight: bold;
}
p {
  color: rgb(230, 226, 225);
}
