h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

<<<<<<< HEAD
.div-p {
  background-color: violet;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
=======
p {
  color: tomato;
>>>>>>> 5be0ca2 (p tomato color)
}
