h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

.div-p {
  background-color: violet;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-p p {
  font-size: 3rem;
  font-weight: bold;
}
p {
  color: tomato;
}
